html
  head
    meta(charset='UTF-8')
    title Inciar Sesi贸n | Aplicaci贸n de ejemplo con autenticaci贸n
  body
    div.app
      section.app-container
        article.login
          a(href="/login/facebook") Iniciar Sesi贸n con Facebook
